include ../icon
include ../header

doctype html
html(lang='en')
  head
    include ../head
    title=content.pageTitle
  body.page-real-weddings
    +header('real-weddings')
    .strip
      .container
        .row
          img.col-xs-12(src=content._entry.leadImage)
          .col-xs-12.m-t-2.m-b-0
            h1.text-xs-center.text-uppercase=content._entry.couple
            h3.text-xs-center.text-uppercase.m-b-0=content._entry.description
    .strip
      .container
        .row.m-b-2
          .col-xs-12.text-xs-center
            !=md.render(content._entry.blurb)
        .row-mosaic
          .col-md-6.m-b-1
            .img-container.high(style="background-image: url('#{content._entry.gridImage1}')")
          .col-md-6.m-b-1
            .img-container.high(style="background-image: url('#{content._entry.gridImage2}')")
          .col-md-6.m-b-1
            .img-container.high(style="background-image: url('#{content._entry.gridImage3}')")
          .col-md-6.m-b-1
            .img-container.high(style="background-image: url('#{content._entry.gridImage4}')")
        .row.m-y-3
          .col-xs-10.col-md-8.col-xs-offset-1.col-md-offset-2
            p.text-xs-center=content._entry.quote
            h4.text-xs-center.m-b-0=content._entry.quoteFrom
        .row-mosaic
          .col-xs-12.m-b-1
            .img-container.v-high(style="background-image: url('#{content._entry.masonryImageTop}');")
          .col-sm-4.col-md-3.hidden-xs-down.m-b-1
            .img-container.high(style="background-image: url('#{content._entry.masonryImageLeft}');")
          .col-sm-8.col-md-9.hidden-xs-down.m-b-1
            .img-container.high(style="background-image: url('#{content._entry.masonryImageRight}');")            
          .col-xs-12.m-b-1
            .img-container.v-high(style="background-image: url('#{content._entry.masonryImageBottom}');")
    .strip
      .container
        h2.text-xs-center.text-uppercase - Suppliers - 
        .row
          .col-sm-10.col-md-8.col-sm-offset-1.col-md-offset-2
            each supplier in content._entry.suppliers
              p.text-xs-center=supplier
    .strip
      .container
        - var next = collections.offset(content._entry, content.weddings, 1)
        - var prev = collections.offset(content._entry, content.weddings, -1)
        .row
          .col-sm-3.hidden-xs-down
            a(href=prev && './#{prev._slug}.html').h4.text-uppercase &lt; Previous
          .col-xs-12.col-sm-6
            h2.text-xs-center.text-uppercase - More real weddings - 
          .col-sm-3.text-xs-right.hidden-xs-down         
            a(href=next && './#{next._slug}.html').h4.text-uppercase Next &gt;
          .col-xs-6.hidden-sm-up
            a(href=prev && './#{prev._slug}.html').h4.text-uppercase &lt; Previous
          .col-xs-6.text-xs-right.hidden-sm-up
            a(href=next && './#{next._slug}.html').h4.text-uppercase Next &gt;
        .row
          each wedding in collections.others(content._entry, content.weddings, 3)
            .col-sm-6.col-md-4
              a.card(href='./#{wedding._slug}.html')
                .img-container.card-img-top(style="background-image: url('#{wedding.previewImage}');")
                .card-block
                  h3.text-uppercase.card-title=wedding.name
                  p.card-text=wedding.description
    include ../social
    include ../exhibit
    include ../awards
    include ../footer
    include ../bundle.svg
    script(src='#{meta.relativePathToRoot}/bundle.js')
