include ../icon
include ../header

doctype html
html(lang='en')
  head
    include ../head
    title=content.pageTitle
  body.page-messages
    +header('messages')
    .section.strip
      .container
        .row
          .col-lg-offset-1.col-lg-10.text-xs-center
            +icon('heart')
            .text-uppercase.text-primary
              !=md.render(content.introText)
    each message in content.messages
      .section.strip.strip-message
        .container
          .row
            .col-lg-offset-1.col-lg-10.text-xs-center
              h1.text-uppercase=message.title
              blockquote=message.quote
              p.font-weight-bold.font-italic=message.quoteFrom
    include ../social
    include ../exhibit
    include ../awards
    include ../footer
    include ../bundle.svg
    script(src='#{meta.relativePathToRoot}/bundle.js')
