extends ../layout

block main
  main
    .strip
      .container.text-xs-center
        h1.text-uppercase.text-accent=content.pickListTitle
        .row.row-mosaic.m-b-2
          .col-xs-4
            img.img-fluid(src=uc(content.pickListImage1, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
            img.img-fluid(src=uc(content.pickListImage2, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
          .col-xs-4
            img.img-fluid(src=uc(content.pickListImage3, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
            img.img-fluid(src=uc(content.pickListImage4, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
          .col-xs-4
            img.img-fluid(src=uc(content.pickListImage5, '-/format/jpeg/-/scale_crop/732x830/center/-/quality/lighter/'))
        if content.pickListLeadText
          .row
            h1.text-uppercase.text-accent=content.pickListLeadText
          if content.pickListText
            !=md.render(content.pickListText)
        if content.pickList
          .row
            each item in content.pickList
              .col-xs-12.col-sm-6.col-md-4.col-lg-3=item
    .strip
      .container.text-xs-center
        h1.text-uppercase.text-accent=content.personalServiceTitle
        if content.personalServiceText
          !=md.render(content.personalServiceText)
    .strip
      .container
        h1.text-xs-center.text-accent.text-uppercase.m-b-2=content.whatWeOfferTitle
        .row.row-mosaic.m-b-2
          .col-xs-4
            img.img-fluid(src=uc(content.whatWeOfferImage1, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
            img.img-fluid(src=uc(content.whatWeOfferImage2, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
          .col-xs-4
            img.img-fluid(src=uc(content.whatWeOfferImage3, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
            img.img-fluid(src=uc(content.whatWeOfferImage4, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
          .col-xs-4
            img.img-fluid(src=uc(content.whatWeOfferImage5, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
            img.img-fluid(src=uc(content.whatWeOfferImage6, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
        .text-xs-center
          !=md.render(content.whatWeOfferText)
    .strip
      .container
        .row
          .col-xl-offset-1.col-xl-10
            .media
              .media-body.media-middle.text-xs-center.text-md-right
                h1.text-uppercase.text-accent=content.howWeWorkTitle
                p.hidden-md-up
                  img.img-circle.border-primary(src=uc(content.howWeWorkImage, '-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/'))
                !=md.render(content.howWeWorkText)
              .media-right.media-middle.p-l-3.hidden-sm-down
                img.media-object.img-circle.border-primary(src=uc(content.howWeWorkImage, '-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/'))
    .strip
      .container
        .row
          .col-xl-offset-1.col-xl-10
            .media
              .media-left.media-middle.p-r-3.hidden-sm-down
                img.media-object.img-circle.border-primary(src=uc(content.specialistImage, '-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/'))
              .media-body.media-middle.text-xs-center.text-md-left
                h1.text-uppercase.text-accent=content.specialistTitle
                p.hidden-md-up
                  img.img-circle.border-primary(src=uc(content.specialistImage, '-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/'))
                !=md.render(content.specialistText)
    .strip
      .container
        .row.m-b-2
          - var url = uc(content.introHeroImage, '-/format/jpeg/-/scale_crop/1920x1920/center/-/quality/lighter/')
          .col-xs-12.introHeroImage(style='background-image: url(#{url})')
        .row
          .col-lg-4
            h1.h2.text-accent=content.introTitle1
            !=md.render(content.introText1)
          .col-lg-8
            h1.h2.text-accent=content.introTitle2
            !=md.render(content.introText2)
