extends ../layout

block main
  main
    .strip
      .container
        .row.row-mosaic.m-b-2
          .col-md-6
            img.img-fluid(src=uc(content.introImage1, '-/format/jpeg/-/scale_crop/1920x1920/center/-/quality/lighter/'))
          .col-md-6
            .row.row-mosaic
              .col-xs-6
                img.img-fluid(src=uc(content.introImage2, '-/format/jpeg/-/scale_crop/510x510/center/-/quality/lighter/'))
                img.img-fluid(src=uc(content.introImage3, '-/format/jpeg/-/scale_crop/510x510/center/-/quality/lighter/'))
              .col-xs-6
                img.img-fluid(src=uc(content.introImage4, '-/format/jpeg/-/scale_crop/510x510/center/-/quality/lighter/'))
                img.img-fluid(src=uc(content.introImage5, '-/format/jpeg/-/scale_crop/510x510/center/-/quality/lighter/'))
        .row
          .col-lg-4
            h1.h2.text-accent=content.introTitle1
            !=md.render(content.introText1)
          .col-lg-8
            h1.h2.text-accent=content.introTitle2
            !=md.render(content.introText2)
    .strip
      .container
        h1.text-xs-center.text-accent.text-uppercase.m-b-2=content.whatWeOfferTitle
        .row.row-mosaic.m-b-2
          .col-xs-4
            img.img-fluid(src=uc(content.whatWeOfferImage1, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
            img.img-fluid(src=uc(content.whatWeOfferImage2, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
          .col-xs-4
            img.img-fluid(src=uc(content.whatWeOfferImage3, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
            img.img-fluid(src=uc(content.whatWeOfferImage4, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
          .col-xs-4
            img.img-fluid(src=uc(content.whatWeOfferImage5, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
            img.img-fluid(src=uc(content.whatWeOfferImage6, '-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/'))
        .text-xs-center
          !=md.render(content.whatWeOfferText)
    .strip
      .container.text-xs-center
        h1.text-uppercase.text-accent=content.pickListTitle
        if content.pickListLeadText
          .text-accent
            !=md.render(content.pickListLeadText)
        !=md.render(content.pickListText)
    .strip
      .container
        .row
          .col-xl-offset-1.col-xl-10
            .media
              .media-body.media-middle.text-xs-center.text-md-right
                h1.text-uppercase.text-accent=content.howWeWorkTitle
                p.hidden-md-up
                  img.img-circle.border-primary(src=uc(content.howWeWorkImage, '-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/'))
                !=md.render(content.howWeWorkText)
              .media-right.media-middle.p-l-3.hidden-sm-down
                img.media-object.img-circle.border-primary(src=uc(content.howWeWorkImage, '-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/'))
    .strip
      .container
        .row
          .col-xl-offset-1.col-xl-10
            .media
              .media-left.media-middle.p-r-3.hidden-sm-down
                img.media-object.img-circle.border-primary(src=uc(content.specialistImage, '-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/'))
              .media-body.media-middle.text-xs-center.text-md-left
                h1.text-uppercase.text-accent=content.specialistTitle
                p.hidden-md-up
                  img.img-circle.border-primary(src=uc(content.specialistImage, '-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/'))
                !=md.render(content.specialistText)
