include ../icon
include ../header

doctype html
html(lang='en')
  head
    include ../head
    title=content.pageTitle
  body.page-about
    +header('about')
    main
      section.strip
        .container
          .row.row-mosaic.m-b-2
            .col-md-6
              img.img-fluid(src='#{content.introImage1}-/format/jpeg/-/scale_crop/1920x1920/center/-/quality/lighter/')
            .col-md-6
              .row.row-mosaic
                .col-xs-6
                  img.img-fluid(src='#{content.introImage2}-/format/jpeg/-/scale_crop/510x510/center/-/quality/lighter/')
                  img.img-fluid(src='#{content.introImage3}-/format/jpeg/-/scale_crop/510x510/center/-/quality/lighter/')
                .col-xs-6
                  img.img-fluid(src='#{content.introImage4}-/format/jpeg/-/scale_crop/510x510/center/-/quality/lighter/')
                  img.img-fluid(src='#{content.introImage5}-/format/jpeg/-/scale_crop/510x510/center/-/quality/lighter/')
          .row
            .col-lg-4
              h1.h2.text-accent=content.introTitle1
              !=md.render(content.introText1)
            .col-lg-8
              h1.h2.text-accent=content.introTitle2
              !=md.render(content.introText2)
      section.strip
        .container
          h1.text-xs-center.text-accent.text-uppercase.m-b-2=content.whatWeOfferTitle
          .row.row-mosaic.m-b-2
            .col-xs-4
              img.img-fluid(src='#{content.whatWeOfferImage1}-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/')
              img.img-fluid(src='#{content.whatWeOfferImage2}-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/')
            .col-xs-4
              img.img-fluid(src='#{content.whatWeOfferImage3}-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/')
              img.img-fluid(src='#{content.whatWeOfferImage4}-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/')
            .col-xs-4
              img.img-fluid(src='#{content.whatWeOfferImage5}-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/')
              img.img-fluid(src='#{content.whatWeOfferImage6}-/format/jpeg/-/scale_crop/732x410/center/-/quality/lighter/')
          .text-xs-center
            !=md.render(content.whatWeOfferText)
      section.strip
        .container.text-xs-center
          h1.text-uppercase.text-accent=content.pickListTitle
          if content.pickListLeadText
            .text-accent
              !=md.render(content.pickListLeadText)
          !=md.render(content.pickListText)
      section.strip
        .container
          .row
            .col-xl-offset-1.col-xl-10
              .media
                .media-body.media-middle.text-xs-center.text-md-right
                  h1.text-uppercase.text-accent=content.howWeWorkTitle
                  p.hidden-md-up
                    img.img-circle.border-primary(src='#{content.howWeWorkImage}-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/')
                  !=md.render(content.howWeWorkText)
                .media-right.media-middle.p-l-3.hidden-sm-down
                  img.media-object.img-circle.border-primary(src='#{content.howWeWorkImage}-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/')
      section.strip
        .container
          .row
            .col-xl-offset-1.col-xl-10
              .media
                .media-left.media-middle.p-r-3.hidden-sm-down
                  img.media-object.img-circle.border-primary(src='#{content.specialistImage}-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/')
                .media-body.media-middle.text-xs-center.text-md-left
                  h1.text-uppercase.text-accent=content.specialistTitle
                  p.hidden-md-up
                    img.img-circle.border-primary(src='#{content.specialistImage}-/format/jpeg/-/scale_crop/516x516/center/-/quality/lighter/')
                  !=md.render(content.specialistText)
    include ../social
    include ../exhibit
    include ../awards
    include ../footer
    include ../bundle.svg
    script(src='#{meta.relativePathToRoot}/bundle.js')
