include header

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    link(rel='stylesheet' href='#{meta.relativePathToRoot}/bundle.css')
    title=content.pageTitle || 'Br&new Weddings'
    meta(name='description' content='#{facts.description}')
    meta(name='keywords' content='#{facts.keywords}')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47048160-1', 'brandnewweddings.co.uk');
      ga('send', 'pageview');
  - var bodyClass = meta.name.split('/').join(' page-')
  body(class='page-#{bodyClass}')
    +header(meta.name)
    block main
    block asides
      include social
      include exhibit
      include awards
    include footer
    script(src='#{meta.relativePathToRoot}/bundle.js')
