include ../icon
include ../header

doctype html
html(lang='en')
  head
    include ../head
    title=content.pageTitle
  body.page-home
    +header('home')
    main
      section.strip
        .container
          #carousel.carousel.slide.m-b-2(data-ride='carousel')
            ol.carousel-indicators
              each item, i in content.carousel
                li(class={active: i === 0} data-target='#carousel' data-slide-to=i)
            .carousel-inner(role='listbox')
              each item, i in content.carousel
                a.carousel-item(href=item.link class={active: i === 0})
                  img(src='#{item.image}-/format/jpeg/-/scale_crop/2048x1356/-/quality/lighter/' alt=item.title)
          .text-xs-center
            h1.text-uppercase=content.title
            p.lead=content.intro
    include ../social
    include ../exhibit
    include ../awards
    include ../footer
    include ../bundle.svg
    script(src='#{meta.relativePathToRoot}/bundle.js')
