extends ../layout
include ../portfolio/wedding-card

block main
  main
    .strip
      .container
        #carousel.carousel.slide.m-b-2(data-ride='carousel')
          ol.carousel-indicators
            each item, i in content.carousel
              li(class={active: i === 0} data-target='#carousel' data-slide-to=i)
          .carousel-inner(role='listbox')
            each item, i in content.carousel
              a.carousel-item(href=item.link class={active: i === 0})
                img(src=uc(item.image, '-/format/jpeg/-/scale_crop/2048x1356/center/-/quality/lighter/') alt=item.title)
        .text-xs-center
          h1.text-uppercase=content.title
          p.lead=content.introText
    #strip-about.strip
      .container
        .row
          .col-lg-offset-1.col-lg-10.text-xs-center
            .lead
              !=md.render(content.aboutText)
        h2.h3.text-xs-center.text-uppercase.text-gray.m-t-3.m-b-2 - Latest Work -
        .row
          each wedding in portfolio.recent(3)
            .col-md-4
              +wedding-card(wedding)
