include ../icon
include ../header

doctype html
html(lang='en')
  head
    include ../head
    title=content.pageTitle
  body.page-inspiration
    +header('Subpages')
    ul
      li
        a(href='./') Subpages home
      each subPage in content.subPages
        li
          a(href='./' + subPage.slug + '.html')=subPage.title
    if content.collectionEntry
      .card.card-block
        h4.card-title=content.collectionEntry.title
        p.card-text=content.collectionEntry.subtitle
    else
      .card.card-block
        p.card-text Please select an item above.
    include ../social
    include ../exhibit
    include ../awards
    include ../footer
    include ../bundle.svg
    script(src='#{meta.relativePathToRoot}/bundle.js')
